{% load static %}
<!-- tab icon  -->
<link rel="icon" type="image" href="{% static 'img/svgviewer-png-output (2).png' %}" sizes="16x16">



<link rel="stylesheet" href="{% static 'css/table.css' %}">


<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<!--  REMIXICON CDN -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

<!-- ANIMATE ON SCROLL CSS CDN  -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />



<script src="https://kit.fontawesome.com/b426e1c00c.js" crossorigin="anonymous"></script>



