{% extends "index.html" %}
{% block title %}
Update Section
{% endblock %}

{% block content %}
<div class="tbl" id="create">
    <main class="table" id="customers_table">
        {% csrf_token %}
        <section class="table__header">
            <h1>Section Update</h1>
            <div class="export__file">
                <a href="{% url 'view_section' edit_section.id %}"><div class="add_list-btn-back"></div></a>
            </div>
        </section>
        <section class="table__body">
          <form method="POST" >
            {% csrf_token %}
            <div class="input-field-tile">
              <input type="text" name="section_name" value="{% if edit_section %}{{ edit_section.name }}{% endif %}" required autofocus>
            </div>
            
            <input type="submit" value="Update" class="btn_log solid" />
        </form>
        </section>
        <section class="table__header">
            
        </section>
    </main>
</div>
{% endblock %}